div {
  border: 1px solid black;
}

.a {
  background-color: yellow;
  color: coral;
}

.b {
  background-color: orange;
}

.c {
  border-radius: 100px;
  border: 5px dashed blueviolet;
}

.d {
  border: 5px red;
  border-style: dotted;
}

table,
tr,
th,
td {
  border: 2px solid;
  border-collapse: collapse;
}
