<!-- <div>
  <p>new2 works!</p>
  <h1>This is new2, hello</h1>
  <h2>This is the heading for a new stylesheet in new2</h2>
  <br />
  <button mat-raised-button>Basic Button</button>
  <br />
  <button mat-raised-button color="primary">Primary Button</button>
  <br />
  <button
    mat-icon-button
    color="warn"
    aria-label="Example icon button with a heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</div> -->
<!-- <h2>No structural directive!</h2>
<h2 *ngIf="val || val1; then updated; else val2">
  This is a structural directive
</h2>

<ng-template #val2> <h1>This is the error message</h1> </ng-template>

<ng-template #updated> This is an updated message </ng-template> -->

<!-- <p *ngFor="let key of obj">{{ key.rollnum }}</p>
concept of string interpolation-->
<!-- {{ val }}
<br />
{{ obj[1].name }}
<br /> -->
<!-- <ol>
  <li *ngFor="let key of obj">
    <ul>
      <li>Rollnum: {{ key.rollnum }}</li>
      <li>Name: {{ key.name }}</li>
      <li>Age: {{ key.age }}</li>
    </ul>
  </li>
</ol> -->
<br />
<!-- <ul>
  <li
    *ngFor="
      let key of obj;
      index as i;
      first as f;
      even as e;
      odd as o;
      last as l
    "
  >
    {{ i }} {{ key.rollnum }} {{ key.name }}
    <p *ngIf="f" style="background-color: aqua">this is the first element</p>
    <p *ngIf="l" style="background-color: coral">this is the last element</p> -->
<!--first as f means you can print a message along with the first item, etc-->
<!-- <p *ngIf="e" style="background-color: red">this is an even element</p>
    <p *ngIf="o" style="background-color: yellow">this is an odd element</p>
  </li>
</ul> -->

<!-- <ol>
  <li *ngFor="let key of obj; index as i; even as e; odd as o">
    <div *ngIf="e" style="background-color: red">
      {{ key.rollnum }} {{ key.name }}
    </div>
    <div *ngIf="o" style="background-color: yellow">
      {{ key.rollnum }} {{ key.name }}
    </div>
  </li>
</ol> -->
<!-- 
<div [ngSwitch]="game">
  <div *ngSwitchCase="'badminton'">Person plays badminton</div>
  <div *ngSwitchCase="'cricket'">Person plays cricket</div>
  <div *ngSwitchCase="'squash'">Person plays squash</div>
  <div *ngSwitchCase="'frisbee'">Person plays frisbee</div>
  <div *ngSwitchCase="'billiard'">Person plays billiard</div>
  <div *ngSwitchCase="22">Person is 22 years old</div>
  <div *ngSwitchDefault>Person is not athletic at all</div>
</div>

<div [ngStyle]="{ color: color, 'background-color': bgcolor, border: border }">
  <h1>this is a ngStyle element!</h1>
</div>

<div
  [ngStyle]="{
    color: color === 'blue' ? 'pink' : 'white',
    'background-color': 'black'
  }"
>
  <h2>Ternary operators are cool</h2>
</div>

<div [ngClass]="'b c'">
  <h1>testing ngClass</h1>
</div>

<div [ngClass]="classes">
  <h1>testing another instance of ngClass</h1>
</div>

<div [ngClass]="tern === 50 ? 'a' : 'd'">
  <h1>TERNARY OPERATORS WITH NGCLASS</h1>
</div>

<div [ngClass]="{ a: false, c: true }">
  <h4>the styles are woozy</h4>
  <h3>setting classes using object syntax</h3>
</div> -->

<!-- <div [ngClass]="func()">
  <h2>Hello! Applying the style using a return of the function.</h2>
</div> -->

<!-- <table> -->
<!--If you hover your mouse over it-->
<!-- <tr [title]="headingRow">
    <th [attr.colspan]="num">Roll number</th>
    <th>Name</th>
    <th>Age</th>
  </tr>

  <tr *ngFor="let key of obj">
    <td>{{ key.rollnum }}</td>
    <td>{{ key.name }}</td>
    <td>{{ key.age }}</td>
  </tr>
</table>

<h2 [innerHTML]="content">This is a innerHTML property</h2>

<img [src]="'pic'" alt="e" />

<h2 [style.color]="color">This is a style binding</h2>

<h2 [style.color]="color" [style.background-color]="'yellow'">
  This is a style binding
</h2>

<p [attr.title]="headingRow">this is the attribute binding</p> -->
<!--If you hover your mouse over it-->

<!-- <button (click)="fun1()">Click Me!</button>
<br />
<button (mouseover)="fun2()">Mouseover me.</button>
<br />
<input type="text" (keyup)="keyfunc1(1, 2, 3)" />
<br /> -->
<!-- <input type="text" (focus)="keyfunc1()" /> -->

<!--You need to import the forms module in app.module.ts first-->
<input type="text" [(ngModel)]="content" />
{{ content }}
<!--From here, you can see that when you change "content" in the UI, the value of the content variable changes too-->
<br />
<hr />
<br />
<input type="number" [(ngModel)]="tern" />
{{ tern }}
<br />
<hr />
<br />
<p *ngIf="tern <= 10" [ngStyle]="{ color: 'red' }">
  this value should be greater than 10!
</p>
<br /><br />
<p>{{ content }}</p>
<p>{{ content | uppercase }}</p>
<br />
<p>{{ content2 }}</p>
<p>{{ content2 | lowercase }}</p>
<br />
<p>{{ date }}</p>
<p>{{ date | date }}</p>
<br />
<p>{{ tern }}</p>
<p>{{ tern | currency : "JPY" }}</p>
<p>{{ tern | percent }}</p>
<br />
<hr />
<br />
<div *ngFor="let key of obj">
  <p>Rollnum: {{ key.rollnum }}</p>
  <p>Name: {{ key.name }}</p>
  <p>Age: {{ key.age }}</p>
</div>
<hr />
<p>{{ obj[0].name | json }}</p>
<br />
<p>{{ date | date : "long" }}</p>
<p>{{ date | date : "short" }}</p>
<p>{{ date | date : "dd-MM-yyyy" }}</p>
<p>{{ date | date : "dd-MMM-yyyy" }}</p>
<br />
<p>{{ tern | percent : "5.2-4" }}</p>
<p>{{ terndec | percent : "2.2-3" }}</p>
<br />
<hr />
<br />
<p>{{ date | date : "dd-MMM-yyyy" | lowercase }}</p>
<p>{{ obj | json | uppercase }}</p>
<br />
<a [routerLink]="['/newfour']">New4 Component</a>
<br /><br /><br />
